{% extends 'artist_logs/base.html' %}

{% block extra_js %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}
<h2 class="mb-4">PRS Data Charts</h2>

<!-- Filter Form -->
<form method="get" class="mb-4">
    <div class="row g-3">
        <div class="col-md-4">
            <input type="text" name="composer" class="form-control" placeholder="Filter by Composer"
                   value="{{ composer_filter }}">
        </div>
        <div class="col-md-4">
            <input type="text" name="song_title" class="form-control" placeholder="Filter by Song Title"
                   value="{{ song_title_filter }}">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <div class="col-md-2">
            <a href="{% url 'artist_logs:charts' %}" class="btn btn-secondary">Clear Filters</a>
        </div>
    </div>
</form>

<!-- Chart -->
<div id="chart">
    {{ chart|safe }}
</div>
{% endblock %}